@if (control(); as control) {
  @if (visible()) {
    @switch (controlType()) {
      @case ('button') {
        <app-button
          [label]="label()"
          (clicked)="executeServiceMethod()"
          [enabled]="control.enabled"
        ></app-button>
      }
      @case ('checkBox') {
        <app-checkbox
          [control]="control"
          [label]="label()"
          (checkedChange)="executeServiceMethod()"
        ></app-checkbox>
      }
      @case ('labelValue') {
        <app-label-value [label]="label()" [control]="control"></app-label-value>
      }
      @default {
        <app-standard-input-wrapper [label]="label()">
          <app-dynamic-input
            [control]="control"
            [controlType]="controlType()"
            (valueChange)="executeServiceMethod()"
          ></app-dynamic-input>
        </app-standard-input-wrapper>
      }
    }
  }
}
