<div ngGrid class="overflow-x-auto">
  <!-- Header -->
  <div ngGridRow class="grid" [style.gridTemplateColumns]="gridTemplateColumns()">
    @for (label of labels; track $index) {
      <div class="font-semibold px-4 h-8 content-center">
        {{ label }}
      </div>
    }
  </div>

  <!-- Rows -->
  @for (row of formArray().controls; track row.get(gridView().idProperty)) {
    <div
      ngGridRow
      class="grid group"
      [style.gridTemplateColumns]="gridTemplateColumns()"
      [formGroup]="row"
    >
      @for (column of gridView().fields; track $index) {
        <div class="border-t border-t-gray-200 group-hover:bg-violet-50 p-px">
          <app-grid-cell
            class="block h-10 px-4 has-enabled:hover:ring focus-within:ring focus-within:border-violet-600 ring-gray-400 rounded-sm"
            ngGridCell
            [field]="column"
            [rowFormGroup]="row"
          >
          </app-grid-cell>
        </div>
      }
    </div>
  }
</div>
