<table ngGrid>
  <thead>
    <tr ngGridRow class="">
      @for (label of labels; track $index) {
        <th ngGridCell>{{ label }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of formArray().controls; track row.get(gridView().IdProperty)) {
      <tr ngGridRow [formGroup]="row">
        @for (column of gridView().Fields; track $index) {
          <td ngGridCell>
            <app-grid-cell [field]="column" [formGroup]="row"></app-grid-cell>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
