<table mat-table [dataSource]="dataSource()">
  @if (view().tableSelectionOptions; as selectionOptions) {
    <ng-container [matColumnDef]="SELECTION">
      <th mat-header-cell *matHeaderCellDef>
        @if (selectionOptions.selectionType === TableSelectionType.Multiple) {
          <mat-checkbox aria-label="Select All"></mat-checkbox>
        }
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row.get(view().idProperty).value) : null"
          [checked]="selection.isSelected(row)"
          aria-label="Select Row"
        ></mat-checkbox>
      </td>
    </ng-container>
  }
  @for (column of view().fields; track column.identifier) {
    <ng-container [matColumnDef]="column.identifier">
      <th mat-header-cell *matHeaderCellDef>{{ getLabel(column) }}</th>
      <td mat-cell *matCellDef="let row">{{ row.get(column.identifier).value }}</td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="columns()"></tr>
  <tr mat-row *matRowDef="let rowData; columns: columns()"></tr>
</table>
