@if (title(); as title) {
  <h2 class="h-12 col-span-12 text-lg font-semibold px-4 content-center border-b-gray-200 border-b">
    {{ title }}
  </h2>
}
<div
  [ngClass]="{
    'grid grid-cols-12 gap-4 col-span-12 content-start': true,
    'm-4': !parentIsUnified() && !subpropertyGridView(),
  }"
>
  @if (combinedView(); as view) {
    @for (childViewId of view.viewIds; track $index) {
      <app-dynamic-view
        [viewId]="childViewId"
        [path]="path()"
        [parentIsUnified]="combinedView()?.unify ?? false"
      ></app-dynamic-view>
    }
  } @else if (controlView(); as view) {
    @for (control of view.controls; track $index) {
      <app-dynamic-control [controlInfo]="control" [parentPath]="path()"></app-dynamic-control>
    }
  } @else if (subpropertyGridView(); as view) {
    <app-subproperty-grid-view [view]="view" [path]="path()"></app-subproperty-grid-view>
  }
</div>
