@if (title(); as title) {
  <h2 class="h-12 col-span-12 text-lg font-semibold px-4 content-center border-b-gray-200 border-b">
    {{ title }}
  </h2>
}
<div
  [ngClass]="[
    'grid grid-cols-12 gap-4 col-span-12 content-start',
    shouldStyleUnifiedView() && !subpropertyGridView() ? 'm-4' : '',
  ]"
>
  @if (combinedViews(); as views) {
    @for (childView of views; track $index) {
      <app-dynamic-view
        [formDefinition]="formDefinition()"
        [formView]="childView"
        [formContext]="formContext()"
        [alreadyInUnifiedView]="shouldStyleUnifiedView() || alreadyInUnifiedView()"
      ></app-dynamic-view>
    }
  } @else if (fieldView(); as view) {
    @for (field of view.fields; track $index) {
      <app-dynamic-field
        [formDefinition]="formDefinition()"
        [field]="field"
        [formContext]="formContext()"
      ></app-dynamic-field>
    }
  } @else if (subpropertyGridView(); as view) {
    <app-subproperty-grid-view
      [formDefinition]="formDefinition()"
      [gridView]="view"
      [formContext]="formContext()"
    ></app-subproperty-grid-view>
  }
</div>
